In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\akshay sonawane\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\akshay sonawane\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("E:/data science/pokemon.csv")

In [15]:
# to find no of columns
df.shape[1]

2

In [14]:
df.shape[0] #to find no of rows

721

In [16]:
df.columns # to find column name

Index(['Pokemon', 'Type'], dtype='object')

In [17]:
df.dtypes# to  find types of data in dataframes

Pokemon    object
Type       object
dtype: object

In [18]:
df.count # to find total record of the data

<bound method DataFrame.count of         Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]>

In [20]:
df.tail()# last 5 rows and columns by default

       Pokemon     Type
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

In [21]:
df.head()# first 5 rows and columns by default

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [22]:
df.describe()# gives max mean 25%, 50%, 75%

        Pokemon   Type
count       721    721
unique      721     18
top     Silcoon  Water
freq          1    105

In [23]:
df.size#total number of  elements in the data

1442

In [38]:
df['Type'] # selecting the columns in df(XXXX represents the column name)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Type, Length: 721, dtype: object

In [42]:
df.skew # skewness

<bound method DataFrame.skew of         Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]>

In [30]:
df.kurtosis#kurtosis

<bound method DataFrame.kurt of         Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]>